<section class="text-center">
    <h2>Upload file</h2>

    <form asp-action="Upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="form-label">File</label>
            <input type="file" class="form-control" name="fileUpload" />
        </div>

        <button class="btn btn-primary">Upload</button>
    </form>
</section>